
/* Estilo do campo de entrada de mensagem */
.entrada {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    padding: 10px;
  }
  
  .entradaRemetente {
    background-color: #2A3942;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 2px;
    color: #fff;
    font-size: medium;
  }

  .entradaMensagem {
    background-color: #2A3942;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: medium;
  }
  
  .button {
    width: 40px;
    height: 40px;
    background-color: #00bfa5;
    color: #fff;
    border: none;
    border-radius: 360px;
    cursor: pointer;
    outline: none;
    align-items: center;
  }
  
  /* Estilo do botão de envio ao passar o mouse */
  .button:hover {
    background-color: #009c88; /* Cor do botão de envio ao passar o mouse */
  }