.mensagem {
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
  }
  .mensagemDireita {
    align-self: flex-end;
    background-color: #dcf8c6; /* Cor de fundo das suas mensagens */
    color: #000; /* Cor do texto das suas mensagens */
  }
  .mensagemEsquerda {
    align-self: flex-start;
    background-color: #fff; /* Cor de fundo das mensagens recebidas */
    color: #000; /* Cor do texto das mensagens recebidas */
  }