.mensagem {
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
  }
  .mensagemDireita {
    display: flex;
    gap: 30px;
    align-self: end;
    background-color: #005C4B; 
    color: #fff; 
    font-size: medium;
  }
  .mensagemEsquerda {
    display: flex;
    gap: 30px;
    align-self: start;
    background-color: #202C33; 
    color: #ffff; 
    font-size: medium;
  }
  .conteudoMensagem{
    display: flex;
    flex-direction: column;
  }